.arrow {
  width: 160px;
  height: 142px;
  image-rendering: pixelated;
  transition: 0.3s;
}
  .arrow-disabled {
    filter: saturate(0);
  }

  .arrow-hoverable {
    cursor: pointer;
  }

  .arrow-hoverable:hover {
    cursor: pointer;
    margin-top: 5px;
  }
