.manual-title {
  font-family: 'Press Start 2P', cursive;
  border: 16px solid gray;
  border-bottom: 0;
  padding: 16px;
  width: 560px;
  background-color: lightgray;
  text-align: center;
}

.manual-world {
  display: flex;
  flex-direction: row;
}  

  .manual-world .view-world {
    border: 16px solid gray;
    background-color: lightgrey;
    padding: 16px;
    padding-top: 0px;
  }

  .manual-world .action-world {
    border: 16px solid gray;
    border-left: 0;
    height: 100%;
  }
