.decision-tree {
}

  .decision-tree svg.tree path.link {
    fill: none;
    stroke: #2593B8;
    stroke-width: 1.5px;
  }

  .decision-tree svg.tree .node {
    cursor: pointer; 
  }

    .decision-tree svg.tree .node circle {
      fill: #F3F3FF;
      stroke: #2593B8;
      stroke-width: 1.5px;
    }

    .decision-tree svg.tree .node text {
      font-size: 13px;
      background-color: #444;
      fill: #F4F4F4;
      text-shadow: 0 1px 4px black;
    }
