.setup-world {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  padding: 16px;
}

  .setup-world .world-view {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    align-items: center;
    outline: 16px solid darkgray;
    margin: 16px;
  }

  .setup-world .target-world {
    margin-left: 50px;
  }
