.block {
  width: 64px;
  height: 96px;
  margin-top: -32px;
  image-rendering: pixelated;
  transition: 0.3s;
}

.block-anim:hover {
  cursor: pointer;
  margin-top: -28px;
  margin-bottom: -4px;
}

.block-green {
  filter: hue-rotate(60deg);
}

.block-red {
  filter: hue-rotate(325deg);
}

.block-blue {
  filter: hue-rotate(170deg);
}

.block-original {
  filter: hue-rotate(0deg);
}
