.available-moves {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  width: 256px;
  padding: 16px;
}

  .available-moves .label {
    margin-bottom: 10px;
    text-align: center;
  }

  .available-moves button {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    padding: 10px 15px;
  }
