.block {
  margin-top: -36px;
  cursor: pointer;
}

.block-image {
  width: 64px;
  height: 96px;
  image-rendering: pixelated;
  transition: 0.3s;
}

.block-image:hover {
  opacity: 0.9;
}

.block-green {
  filter: hue-rotate(60deg);
}

.block-red {
  filter: hue-rotate(325deg);
}

.block-blue {
  filter: hue-rotate(170deg);
}

.block-original {
  /* No filters */
}
