.world-container {
  background-color: lightgray;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

  .hook-container {
    display: flex;
    flex-direction: column;
    min-height: 96px;
  }

    .hook-container .hook {
      z-index: 1;
    }

    .hook-container .block-hooked {
      max-width: 64px;
      min-height: 96px;
      transition: 0.3s;
    }

  .block-container {
    margin-top: 32px;
  }

    .block-container .container-row {
      display: flex;
    }

      .block-container .container-row .container-column {
        display: flex;
        flex-direction: column-reverse;
        width: 64px;
      }
